pymongo #is the MongoDB driver that connects my code to the MongoDB database.
cryptography  #encrypting and decrypting passwords before storing them in the database.
bcrypt #for hashing passwords
pyperclip #for copying passwords to clipboard
customtkinter #for the GUI
tkinter #for the GUI